<h1>NGRX ANG 18 SIGNALS STORE</h1>

<mat-form-field class="todo-input">
<mat-label>
    Enter a TODO and press Enter
</mat-label>
<input matInput #input (keyup.enter)="onAddTodo(input.value)">
<mat-icon matSuffix>edit</mat-icon>
</mat-form-field>

<br />

<mat-button-toggle-group #filter (change)="onFilterTodos($event)">
    <mat-button-toggle value="all">All</mat-button-toggle>
    <mat-button-toggle value="pending">Pending</mat-button-toggle>
    <mat-button-toggle value="completed">Completed</mat-button-toggle>
</mat-button-toggle-group>


<mat-selection-list class="todos-list">
    <!-- instead of accessing all the "todos()" just access the "filteredTodos()" -->
    @for(todo of store.filteredTodos(); track todo.id;){

        <!-- THIS IMPLEMENTATION RUNS MULTIPLE SELECT EVENTS SOMETIMES (BUGGY), WILL LOOP THROUGH ALL THE TODOS AND CHECK THEM OR UNCHECK THEM
        <mat-list-option [selected]="todo.completed" (selectedChange)="onTodoToggle(todo.id, $event)">
            <div class="todo-item">
                <mat-icon class="delete-todo" (click)="onDeleteTodo(todo.id, $event)">delete</mat-icon>
                <span [ngStyle]="{'text-decoration': todo.completed ? 'line-through' : 'none'}">{{todo.title}}</span>
            </div>
        </mat-list-option>
         -->

        <div>
            <div class="todo-item" (click)="onTodoToggle(todo.id, !todo.completed)">
                <mat-icon class="delete-todo" (click)="onDeleteTodo(todo.id, $event)">delete</mat-icon>
                <span [ngStyle]="{'text-decoration': todo.completed ? 'line-through' : 'none'}">{{todo.title}}</span>
            </div>
        </div>
    }

</mat-selection-list>
